<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleNew.css">
</head>
<body>
    <div class = outerContainerNewPost>
        <h1>Create a New Post</h1>
        <hr>

        <div  class = formNewPost>
            <form method="post" action="/posts">
                <div class="NewContent">
                <input type="text"  id="username" placeholder="Enter username" name="username" >
                <br><br>
                <textarea id="contentTextarea" placeholder="Enter Content" name="content">  </textarea>
                <br><br>
                <button id="btn">Submit Post</button>
                    <br>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>